# Ignore system and app data files
AppData/
*.log
*.bak
*.tmp
.DS_Store  # macOS-specific
Thumbs.db  # Windows-specific

# Ignore VSCode settingss
.vscode/

# Ignore IDE-related files
.idea/

# Ignore compiled code
*.class
*.exe

# Ignore node_modules (for Node.js projects)
node_modules/
